@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <style>
        .contentContainer h2 {
            margin-top: 4%;
            text-align: center;
        }

        .contentContainer p {
            min-height: 60vh;
        }
    </style>
</head>

<div class="contentContainer">
    <h2>Blog Title</h2>
    <!--TODO:add edit and delete-->
    <button type="submit" class="btn" style="background: rgb(0, 166, 204); color: white;" onclick="handleDeleteBlog()">Delete Blog</button>
    <p>Blog content goes here...</p>
</div>