@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var userId = _userManager.GetUserId(User);
}

@model BlogWebsiteDotNet.ViewModels.CommentVM
@inject UserManager<User> _userManager


<head>
	<style>
		.contentContainer h2 {
			margin-top: 4%;
			text-align: center;
		}

		.contentContainer p {
			min-height: 60vh;
		}
	</style>
</head>

<div class="contentContainer">
	<h2>@ViewBag.blog.BlogTitle</h2>
	<!--TODO:add edit and delete-->
	<button type="submit" class="btn" style="background: rgb(0, 166, 204); color: white;">Delete Blog</button>
	<p>@ViewBag.blog.BlogContent</p>
</div>
<div>
	<h4>Leave a comment</h4>
	<form asp-action="WriteComment" method="POST">
		<div class="form-group">
			<input type="hidden" name="UserId" asp-for="UserId" value="@userId" />
			<input type="hidden" name="BlogId" asp-for="BlogId" value="@ViewBag.blog.Id" />

			<label for="content">Content</label>
<textarea class="form-control"
		  id="content"
		  rows="12"
		  asp-for="CommentContent"
		  required></textarea>
		</div>
	</form>
</div>
@* <div>
	<ul>
		@foreach(comment in Model.Comments){
		<li></li>
		}
	</ul>
</div> *@