@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.IsInRole("Author"))
{
    <p>can blog</p>
}

@if (User.IsInRole("Admin"))
{
    <p>is admin</p>
}